<!DOCTYPE html>
<html lang="es" ng-app="miApp">
<head>
<title>Lista de servicios</title>

  <meta name="viewport" content="width=device-width,initial-scale=1"/>
<!-- pantalla completa en iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
 <!-- pantalla completa en Chrome for Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <!-- estilo de la barra de estado superior en iOS -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <!--font-awesome-->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- CSS de jquery mobile-->
  <link rel="stylesheet" href="/aplicacion/js/jquery.mobile-1.4.2.min.css"/>

  <!--NATIVEDROID2-->
  <link rel="stylesheet" href="/aplicacion/nativeDroid2/vendor/waves/waves.min.css">
  <link rel="stylesheet" href="/aplicacion/nativeDroid2/vendor/wow/animate.css">
  <link rel="stylesheet" href="/aplicacion/nativeDroid2/css/nativedroid2.css">
  <link rel="stylesheet" href="/aplicacion/nativeDroid2/css/nativedroid2.color.light-blue.css">




  <!-- jQuery y jQuery mobile -->
  <script src="/aplicacion/js/jquery-1.11.0.min.js"></script>
  <script>
      $(document).bind('mobileinit',function(){
          $.mobile.pushStateEnabled = false;
      });
  </script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="/aplicacion/js/jquery.mobile-1.4.2.min.js"></script>


  <!--JS DE NATIVEDROID2-->
  <script src="/aplicacion/nativeDroid2/vendor/waves/waves.min.js"></script>
  <script src="/aplicacion/nativeDroid2/vendor/wow/wow.min.js"></script>
  <script src="/aplicacion/nativeDroid2/js/nativedroid2.js"></script>
  <script src="/aplicacion/nativeDroid2/nd2settings.js"></script>


  <!--ANGULARJS-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

  <!--MOMENTJS PARA FORMATEO DE FECHAS-->
  <script src="/aplicacion/js/moment-with-locales.js"></script>
  <!--JS PRINCIPAL-->
  <script src="/aplicacion/javascripts/app.js"></script>
  <!--JS DE CONTROLLERS-->
  <script src="/aplicacion/javascripts/controllers.js"></script>
  <!--JS DE SERVICIOS-->
  <script src="/aplicacion/javascripts/services.js"></script>



  <!--CSS PERSONALIZADO-->
  <link rel="stylesheet" href="/aplicacion/stylesheets/mis-servicios.css">


</head>
<body class="ui-mobile-viewport ui-overlay-a nd2-ready">

<!--MENSAJES DE NOTIFICACIONES-->
<div id="error-message"></div>
<div id="success-message"></div>







<!--Pagina de Login-->
<div id="loginpage" data-role="page" ng-controller="LoginCtrl">
    <div data-role="header">
        <h1>Página de Login</h1>
    </div>
    <div data-role="content">
	<h1>Login</h1>


	<input type="text" ng-model="_username" id="username" placeholder="Nombre de usuario" />
	<input type="password" id="password" ng-model="_password" placeholder="Contraseña" />
  <a ng-click="submit(_username, _password)" class="ui-btn ui-btn-icon-block clr-primary waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-sign-in zmd-2x"></i>Iniciar sesión</a>
  <a href="#registerpage" class="ui-btn ui-btn-icon-block waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-edit zmd-2x"></i>Registrarse</a>
    </div>
</div>


<!--Pagina de Registro-->
<div id="registerpage" data-role="page" ng-controller="RegisterCtrl">
    <div data-role="header">
        <h1>Página de Registro</h1>
        <a href="#loginpage" class="ui-btn-left wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
          <i class="zmdi zmdi-arrow-back"></i>
        </a>
    </div>
    <div data-role="content">
    	<div class="panel panel-default">
        <div class="panel-heading">
          <h1>¡Regístrate!</h1>
        </div>
        <div class="panel-body">
            <div class="form-group">
              <p style="color:red">Obligatorio el campo del nombre.</p>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre del usuario..." required>
            </div>

            <div class="form-group">
              <label><strong>La contraseña será password</strong></label>
            </div>

            <label>Tu género: </label>
          <fieldset data-role="controlgroup" data-type="horizontal">
            <input type="radio" name="generoreg" id="opcion1" value="hombre"/>
            <label for="opcion1">Hombre</label>

            <input type="radio" name="generoreg" id="opcion2" value="mujer"/>
            <label for="opcion2">Mujer</label>

            <input checked type="radio" name="generoreg" id="opcion3" value="alien"/>
            <label for="opcion3">Alien</label>
          </fieldset>

            <input type="text" class="form-control" placeholder="Email..." id="email">
            <br>

            <input type="text" class="form-control" placeholder="Teléfono..." id="telefono">
            <br>
            
            <a id="btn-registrar" ng-click="crearUsuario()" class="ui-btn ui-btn-inline clr-btn-teal waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-assignment-check zmd-2x"></i> Registrarse</a>
        </div>
      </div>


    </div>
</div>







<!--Pagina Lista Servicios-->
<div id="listaServiciosPage" data-role="page" ng-controller="listaServiciosCtrl">

  <!--PANEL DE MENU (SOLO ESTA EN LISTA SERVICIOS)-->
  <div data-role="panel" id="bottomsheetblock" class="ui-bottom-sheet" data-animate="false" data-position='bottom' data-display="overlay">
    <div class='row around-xs'>
      <div class='col-xs-auto'>
        <a href="#listaServiciosPage" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'>
          <i class='zmdi zmdi-assignment zmd-2x'></i>
          <strong>Nuevos servicios</strong>
        </a>
      </div>
      <div class='col-xs-auto'>
        <a href="#misServiciosPage" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'>
          <i class='zmdi zmdi-assignment-account zmd-2x'></i>
          <strong>Mis servicios</strong>
        </a>
      </div>
      <div class='col-xs-auto'>
        <a href="#miPerfilPage" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'>
          <i class='zmdi zmdi-face zmd-2x'></i>
          <strong>Mi perfil</strong>
        </a>
      </div>
      <div class='col-xs-auto'>
        <a href="#listaUsuariosPage" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'>
          <i class='zmdi zmdi-accounts-outline zmd-2x'></i>
          <strong>Usuarios más valorados</strong>
        </a>
      </div>
    </div>
  </div>

  <!--HEADER-->
  <div ng-controller="HeaderCtrl" data-role="header" data-position="fixed" class="wow fadeIn ui-header ui-bar-inherit ui-header-fixed slidedown" role="banner">
    <a href="#bottomsheetblock" class="ui-btn-left clr-primary ui-btn-raised wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
      <i class="zmdi zmdi-menu"></i>
    </a>

    <a ng-click="logout()" class="ui-btn-right ui-btn-fab ui-btn-raised clr-warning wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-role="button" role="button">
      <i class="zmdi zmdi-power-off"></i>
    </a>
    <h1 class="wow fadeIn ui-title" data-wow-delay="0.4s" role="heading" aria-level="1">{{titulo}}</h1>
  </div>

  <div data-role="content">
    <h1>Nuevos servicios</h1>
    <ul id="nuevos-servicios" data-role="listview" data-icon="false" class="ui-listview">
        <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-first-child">
          Actualizados recientemente
        </li>
        <li ng-repeat="(serviceIndex,service) in services" my-repeat-directive class="ui-li-has-thumb">
          <a href="#detalleServicioPage" class="ui-btn waves-effect waves-button waves-effect waves-button" ng-click="detalle(service)">
            <img src="/aplicacion/images/service.jpg" class="ui-thumbnail ui-thumbnail-circular">
            <h2>{{service.titulo}}</h2>
            <p>{{service.updatedAt}}</p>
          </a>
        </li>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
    <div class="row center-xs">
      <div class="col-xs-6">
        <div class="box">
          <a ng-click="page(num_pag-1)" class="ui-btn nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-arrow-back zmdi-hc-lg"></i> Anterior</a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box">
          <a ng-click="page(num_pag+1)" class="ui-btn nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button"> Siguiente <i class="zmdi zmdi-arrow-forward zmdi-hc-lg"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>





<div id="detalleServicioPage" data-role="page" ng-controller="detalleServicioCtrl">
  <div data-role="header">
    <h1>Página de detalle de servicio</h1>
    <a href="#listaServiciosPage" class="ui-btn-left wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
      <i class="zmdi zmdi-arrow-back"></i>
    </a>
  </div>

  <div data-role="content">
    <div class="nd2-card">
      <div class="card-media">
        <img src='/aplicacion/images/service.jpg'>
      </div>
      <div class="card-title">
        <h3 class="card-primary-title">{{servicio.titulo}}</h3>
        <h5 class="card-subtitle">ID: {{servicio.id}}</h5>
        <h5 class="card-subtitle">Fecha de creación: {{servicio.createdAt}}</h5>
        <h5 class="card-subtitle">Última vez modificado: {{servicio.updatedAt}}</h5>
        <h5 class="card-subtitle">Usuario creador: {{servicio.usuario.nombre}}</h5>
        <h5 class="card-subtitle">E-mail de contacto: {{servicio.usuario.email}}</h5>
      </div>
    </div>
  </div>
</div>





<!--Pagina MIS Servicios-->
<div id="misServiciosPage" data-role="page" ng-controller="misServiciosCtrl">

  <!--HEADER-->
  <div ng-controller="HeaderCtrl" data-role="header" data-position="fixed" class="wow fadeIn ui-header ui-bar-inherit ui-header-fixed slidedown" role="banner">
    <a href="#listaServiciosPage" class="ui-btn-left wow fadeIn ui-btn ui-btn-raised waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
      <i class="zmdi zmdi-home"></i>
    </a>

    <a ng-click="logout()" class="ui-btn-right ui-btn-fab ui-btn-raised clr-warning wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-role="button" role="button">
      <i class="zmdi zmdi-power-off"></i>
    </a>
    <h1 class="wow fadeIn ui-title" data-wow-delay="0.4s" role="heading" aria-level="1">{{titulo}}</h1>
  </div>


  <div data-role="content">
    <h1>Mis servicios</h1>

      <ul id="mis-servicios" data-role="listview" data-icon="false" class="ui-listview">
        <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-first-child">
          Tus servicios
        </li>
        <li ng-repeat="(serviceIndex,service) in services" my-repeat-directive class="ui-li-has-thumb">
          <a href="#" class="ui-btn waves-effect waves-button waves-effect waves-button">
            <img src="/aplicacion/images/service.jpg" class="ui-thumbnail ui-thumbnail-circular">
            <h2>{{service.titulo}}</h2>
            <p>{{service.updatedAt}}</p>
              <button ng-click="editar(service)" class="ui-btn ui-btn-inline clr-btn-indigo ui-mini waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-edit"></i> Editar</button>
              <button ng-click="borrar(service.id)"class="ui-btn ui-btn-inline clr-btn-blue-grey ui-mini waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-delete"></i> Borrar</button>
          </a>
        </li>
    </ul>
  </div>

  <div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">

    <div class="row center-xs">
      <div class="col-xs-4">
        <div class="box">
          <a href="#nuevoServicioPage" class="ui-btn ui-btn-raised ui-mini nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button clr-primary"><i class="zmdi zmdi-plus"></i> Nuevo servicio</a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="box">
          <a ng-click="page(num_pag-1)" class="ui-btn nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-arrow-back zmdi-hc-lg"></i> Anterior</a>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="box">
          <a ng-click="page(num_pag+1)" class="ui-btn nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button">Siguiente <i class="zmdi zmdi-arrow-forward zmdi-hc-lg"></i></a>
        </div>
      </div>
    </div>


  </div>



</div>



<!--Pagina Crear Servicio-->
<div id="nuevoServicioPage" data-role="page" ng-controller="crearServicioCtrl">
  <div data-role="header">
    <h1>Crear nuevo servicio</h1>
      <a href="#misServiciosPage" class="ui-btn-left wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
        <i class="zmdi zmdi-arrow-back"></i>
      </a>
  </div>

  <div data-role="content">
    <label for="titulo_servicio">Título:</label>
    <input type="text" ng-model="_titulo_servicio" data-clear-btn="true" name="titulo_servicio" id="titulo_servicio" value=""  placeholder="Escribe el título de tu nuevo servicio..."/>

    <a id="btn-crear" ng-click="crear(_titulo_servicio)" class="ui-btn clr-primary ui-btn-icon-block waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-check-circle zmd-2x"></i>Crear servicio</a>

  </div>
</div>



<!--Pagina Modificar Servicio-->
<div id="editarServicioPage" data-role="page" ng-controller="editarServicioCtrl">
  <div data-role="header">
    <h1>Editar servicio</h1>
      <a href="#misServiciosPage" class="ui-btn-left wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
        <i class="zmdi zmdi-arrow-back"></i>
      </a>
  </div>

  <div data-role="content">
    ID de servicio: {{servicio.id}}<br>
    <label for="titulo_servicio">Título:</label>
    <input name="servicio.titulo" ng-model="servicio.titulo" placeholder="No dejes el campo vacío...">

    <a id="btn-modificar" ng-click="modificar()" class="ui-btn clr-primary ui-btn-icon-block waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-check-square zmd-2x"></i>Modificar servicio</a>

  </div>
</div>





<!--Pagina Lista Usuarios-->
<div id="listaUsuariosPage" data-role="page" ng-controller="listaUsuariosCtrl">
  

  <!--HEADER-->
  <div ng-controller="HeaderCtrl" data-role="header" data-position="fixed" class="wow fadeIn ui-header ui-bar-inherit ui-header-fixed slidedown" role="banner">
    <a href="#listaServiciosPage" class="ui-btn-left wow fadeIn ui-btn-raised ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
      <i class="zmdi zmdi-home"></i>
    </a>

    <a ng-click="logout()" class="ui-btn-right ui-btn-fab ui-btn-raised clr-warning wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-role="button" role="button">
      <i class="zmdi zmdi-power-off"></i>
    </a>
    <h1 class="wow fadeIn ui-title" data-wow-delay="0.4s" role="heading" aria-level="1">{{titulo}}</h1>
  </div>

  <div data-role="content">
    <h1>Lista de usuarios</h1>
    <ul id="lista-usuarios" data-role="listview" data-icon="false" class="ui-listview">
        <li data-role="list-divider" role="heading" class="ui-li-divider ui-bar-inherit ui-first-child">
          Por orden de valoración
        </li>
        <li ng-repeat="usuario in usuarios" my-repeat-directive class="ui-li-has-thumb">
          <a href="#perfilAjenoPage" class="ui-btn waves-effect waves-button waves-effect waves-button" ng-click="ver_perfil(usuario)">
            <img src='/aplicacion/images/person.png' class="ui-thumbnail ui-thumbnail-circular">
            <h2>{{usuario.nombre}}</h2>
            <p>Click para ver su perfil</p>
          </a>
        </li>
    </ul>
  </div>


  <div data-role="footer" data-position="fixed" role="contentinfo" class="ui-footer ui-bar-inherit ui-footer-fixed slideup">
    <div class="row center-xs">
      <div class="col-xs-6">
        <div class="box">
          <a ng-click="page(num_pag-1)" class="ui-btn nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-arrow-back zmdi-hc-lg"></i> Anterior</a>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="box">
          <a ng-click="page(num_pag+1)" class="ui-btn nd2-btn-icon-block waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button">Siguiente <i class="zmdi zmdi-arrow-forward zmdi-hc-lg"></i></a>
        </div>
      </div>
    </div>
  </div>


</div>


<!--Pagina Perfil Ajeno (no modificable)-->
<div id="perfilAjenoPage" data-role="page" ng-controller="perfilAjenoCtrl">
  <div data-role="header">
    <h1>Perfil de usuario</h1>
      <a href="#listaUsuariosPage" class="ui-btn-left wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
        <i class="zmdi zmdi-arrow-back"></i>
      </a>
  </div>

  <div data-role="content">
    <div class="nd2-card">
      <div class="card-title has-avatar">
        <span ng-switch on="usuario.genero">
        <img class="card-avatar" ng-switch-when="hombre" src='/aplicacion/images/hombre.png'>
        <img class="card-avatar" ng-switch-when="mujer" src='/aplicacion/images/mujer.png'>
        <img class="card-avatar" ng-switch-default   src='/aplicacion/images/alien.png'>
        </span>
        <h3 class="card-primary-title">{{usuario.nombre}}</h3>
        <h5 class="card-subtitle">ID: {{usuario.id}}</h5>
        <h5 class="card-subtitle">Género: {{usuario.genero}}</h5>
        <h5 class="card-subtitle">Email: {{usuario.email}}</h5>
        <h5 class="card-subtitle">Teléfono: {{usuario.telefono}}</h5>
      </div>
    </div>
  </div>

</div>


<!--Pagina Mi Perfil-->
<div id="miPerfilPage" data-role="page" ng-controller="miPerfilCtrl">
  
  <!--HEADER-->
  <div ng-controller="HeaderCtrl" data-role="header" data-position="fixed" class="wow fadeIn ui-header ui-bar-inherit ui-header-fixed slidedown" role="banner">
    <a href="#listaServiciosPage" class="ui-btn-left wow fadeIn ui-btn ui-btn-raised waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-wow-delay="1.2s" data-role="button" role="button">
      <i class="zmdi zmdi-home"></i>
    </a>

    <a ng-click="logout()" class="ui-btn-right ui-btn-fab ui-btn-raised clr-warning wow fadeIn ui-btn waves-effect waves-button waves-effect waves-button waves-effect waves-button waves-effect waves-button" data-role="button" role="button">
      <i class="zmdi zmdi-power-off"></i>
    </a>
    <h1 class="wow fadeIn ui-title" data-wow-delay="0.4s" role="heading" aria-level="1">{{titulo}}</h1>
  </div>


  <div data-role="content">

    <label for="usuario.nombre">Nombre:</label>
    <input name="usuario.nombre" ng-model="usuario.nombre" placeholder="Escribe tu nombre...">

    <div data-role="fieldcontain">
    <fieldset data-role="controlgroup" data-type="horizontal">
          <input ng-model="usuario.genero" type="radio" name="radio-choice-1" id="radio-choice-1" value="hombre"/>
          <label for="radio-choice-1">Hombre</label>

          <input ng-model="usuario.genero" type="radio" name="radio-choice-1" id="radio-choice-2" value="mujer"/>
          <label for="radio-choice-2">Mujer</label>

          <input ng-model="usuario.genero" type="radio" name="radio-choice-1" id="radio-choice-3" value="alien"/>
          <label for="radio-choice-3">Alien</label>
    </fieldset>
    </div>


    <div class="nd2-card card-media-right card-media-large">
      <div class="card-media">
      <span ng-switch on="usuario.genero">
        <img alt="User Pic" ng-switch-when="hombre" src='/aplicacion/images/hombre.png'>
        <img alt="User Pic" ng-switch-when="mujer" src='/aplicacion/images/mujer.png'>
        <img alt="User Pic" ng-switch-default   src='/aplicacion/images/alien.png'>
      </span>
      </div>

      <div class="card-title">
        <h3 class="card-primary-title">Avatar.</h3>
        <h5 class="card-subtitle">Eres hermoso.</h5>
      </div>
    </div>




    <label for="usuario.email">Email:</label>
    <input name="usuario.email" ng-model="usuario.email" placeholder="Escribe tu email...">

    <label for="usuario.telefono">Teléfono:</label>
    <input name="usuario.telefono" ng-model="usuario.telefono" placeholder="Escribe tu teléfono...">

  </div>

  <div data-role="footer" data-position="fixed">
    <center>
      <a id="btn-mod-perfil" ng-click="modificar_perfil()" class="ui-btn clr-primary ui-btn-raised waves-effect waves-button waves-effect waves-button"><i class="zmdi zmdi-check-all zmd-2x"></i> Guardar cambios</a>

      <!--POPUP de estar seguro borrar-->
      <a href="#popupDialog" data-rel="popup" data-position-to="window" data-role="button" data-inline="true" data-transition="pop" aria-haspopup="true" aria-owns="popupDialog" aria-expanded="false" class="ui-btn clr-warning ui-btn-icon-block ui-btn-raised waves-effect waves-button waves-effect waves-button" role="button"><i class="zmdi zmdi-delete zmd-2x"></i> Borrar cuenta</a>

      <div data-role="popup" id="popupDialog">
        <div data-role="header">
          <h1 class='nd-title'>¿Estás seguro?</h1>
        </div>
        <div data-role="content">
          <p>Una vez hecho, no podrás recuperar esta cuenta.</p>
          <a ng-click="borrar_perfil()" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i class='zmdi zmdi-delete'></i> Borrar</a>
          <a href="#" data-rel="back" data-role="button" data-inline="true" class="ui-btn ui-btn-primary"><i class='zmdi zmdi-minus-circle'></i> Cancelar</a>
        </div>
      </div>
    </center>
  </div>
</div>



</body>

</html>

