<div id="error-message"></div>
<div id="success-message"></div>

<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>¡Regístrate!</h1>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="form-group">
              <p style="color:red">Obligatorio el campo del nombre.</p>
              <input type="text" class="form-control" id="nombre" placeholder="Nombre del usuario...">
            </div>

            <div class="form-group">
              <label><strong>La contraseña será password</strong></label>
            </div>

            <label>Tu género: </label>
            <label class="radio-inline">
              <input name="genero" type="radio" value="hombre">
              Hombre
            </label>
            <label class="radio-inline">
              <input name="genero" type="radio"value="mujer">
              Mujer
            </label>
            <label class="radio-inline">
              <input name="genero" checked type="radio" value="alien">
              Alien
            </label>

            <input type="text" class="form-control" placeholder="Email..." id="email">
            <br>

            <input type="text" class="form-control" placeholder="Teléfono..." id="telefono">
            <br>
            
            <input id="btn-registrar" type="submit" value="Registrar" class="btn btn-info btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/aplicacion/javascripts/no-framework-controller.js"></script>