<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
          {{titulo}}
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li id="servicios" class="active"><a href="#" ng-click="home()">Nuevos servicios</a></li>
        <li id="mis_servicios" ><a href="#" ng-click="mis_servicios()">Mis servicios</a></li>
        <li id="mi_perfil"><a href="#" ng-click="mi_perfil()">Mi perfil</a></li>
        <li id="usuarios"><a href="#" ng-click="usuarios()">Usuarios más valorados</a></li>
        <li id="nologin"><a href="#" ng-show="enlace_cerrar_sesion" ng-click="logout()">
          Cerrar sesión
        </a></li>
      </ul>
    </div><!--/.nav-collapse -->
</div>