<div id="error-message"></div>
<div id="success-message"></div>

<div id="login">
  <h1>Login</h1>
  <form role="form" ng-submit="submit(_username, _password)">
    <input type="text" ng-model="_username" id="username" placeholder="Nombre de usuario" />
    <input type="password" id="password" ng-model="_password" placeholder="Contraseña" />
    <input type="submit" value="Iniciar sesión" />
  </form>
  <button ng-hide="esconder_register" ng-click="register()">Registrarse</button>
</div>




