<div id="error-message"></div>
<div id="success-message"></div>

<div class="text-center">
<a ng-show="visitando" ng-click="atras()" data-original-title="Volver a lista de usuarios" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-arrow-left"></i></a>
</div>

<div class="container perfil">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div ng-hide="modificando" class="panel-heading">
              <h3 class="panel-title">{{usuario.nombre}}</h3>
            </div>
            <input ng-show="modificando" type="text" class="form-control perfil-usuario" ng-model="datos.nuevo_nombre" placeholder="Nombre..." id="telefono">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center">
                <span ng-switch on="usuario.genero">
                  <img alt="User Pic" ng-switch-when="hombre" src='/aplicacion/images/hombre.png' class="img-circle img-responsive">
                  <img alt="User Pic" ng-switch-when="mujer" src='/aplicacion/images/mujer.png' class="img-circle img-responsive">
                  <img alt="User Pic" ng-switch-default   src='/aplicacion/images/alien.png' class="img-circle img-responsive">
                </span> 
                </div>
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-condensed">
                    <tbody>
                      <tr>
                        <td>Género</td>
                        <td ng-hide="modificando">{{usuario.genero}}</td>
                        <td ng-show="modificando">
                          <label class="radio-inline">
                            <input type="radio" ng-model="datos.nuevo_genero" value="hombre">
                            Hombre
                          </label>
                          <label class="radio-inline">
                            <input type="radio" ng-model="datos.nuevo_genero" value="mujer">
                            Mujer
                          </label>
                          <label class="radio-inline">
                            <input type="radio" ng-model="datos.nuevo_genero" value="alien">
                            Alien
                          </label>
                        </td>

                      </tr>
                      <tr>
                        <td>Email</td>
                        <td ng-hide="modificando"><a href="mailto:info@support.com">{{usuario.email}}</a></td>
                        <td ng-show="modificando">
                          <input type="text" class="form-control input-editar-perfil" ng-model="datos.nuevo_email" placeholder="Email..." id="email">
                        </td>
                      </tr>
                        <td>Teléfono</td>
                        <td ng-hide="modificando">{{usuario.telefono}}
                        </td>
                        <td ng-show="modificando">
                          <input type="text" class="form-control input-editar-perfil" ng-model="datos.nuevo_telefono" placeholder="Teléfono..." id="telefono">
                        </td>     
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Puntuación" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-star"></i></a>
                        <a ng-show="modificando" class="btn btn-success btn-sm" ng-click="modificar_perfil()">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        </a>
                        <span class="pull-right">
                            <a ng-hide="visitando" ng-click="form_modificar()" data-original-title="Modificar perfil" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a ng-hide="visitando" ng-click="dar_de_baja()" data-original-title="Darme de baja" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>