<div id="error-message"></div>
<div id="success-message"></div>

<table class="table table-striped services ">
  <thead>
      <tr>
        <th>Título del servicio</th>
        <th></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <tr ng-repeat="(serviceIndex,service) in services">
          <td class="col-md-4">{{service.titulo}}</td>
          <td class="col-md-4">
            <!--aqui se modificara el titulo-->
            <div ng-show="editando(serviceIndex)" class="input-group">
              <input type="text" class="form-control input-editar" ng-model="datos.nuevo_titulo" placeholder="Cambia el título de tu servicio..." id="title">
              <span class="input-group-btn">
                <a class="btn btn-success btn-sm boton-editar-titulo" ng-click="modificar_servicio(service.id)">
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                </a>
              </span>
            </div>
          </td>
          <td class="col-md-4">
              <a class="btn btn-warning btn-sm" ng-show="puedo_modificar" ng-click="form_editar(serviceIndex)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
              <a class="btn btn-danger btn-sm" ng-show="puedo_modificar" ng-click="borrar(service.id)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
          </td>
      </tr>
  </tbody>
</table>
<nav>
  <ul class="pager">
    <li><a href="#" ng-click="page(num_pag-1)">Anterior</a></li>
    <li><a href="#" ng-click="page(num_pag+1)">Siguiente</a></li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <a class="btn btn-primary" ng-class="{'btn-danger': creando, 'btn-primary': !creando}" ng-show="puedo_modificar" ng-click="form_crear()"><span ng-class="{'glyphicon glyphicon-remove': creando, 'glyphicon glyphicon-plus': !creando}" aria-hidden="true"></span></a>
    </div>
    <div class="col-md-3">
      <div ng-show="creando">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="datos_crear.titulo" id="title_crear" placeholder="Título del  nuevo servicio...">
              </div>
      </div>
    </div>
    <div class="col-md-1">
      <a class="btn btn-success" ng-show="creando" ng-click="crear_servicio()"><span class="glyphicon glyphicon-save" aria-hidden="true"></span></a>
    </div>
  </div>
</div>