<div id="error-message"></div>
<div id="success-message"></div>

<div id="contenido" class="container-fluid users">
  <div class="row">
    <div class="col-sm-4"><strong>Nombre del usuario</strong></div>
    <div class="col-sm-4"><strong>Acciones</strong></div>
    <div class="col-sm-4"><strong>Valoración total</strong></div>
  </div>

  <!--aqui se inyectaran las filas de usuarios-->
  <div id="filas">
  </div>
  

</div>

<nav>
  <ul class="pager">
    <li><a id="anterior" href="#">Anterior</a></li>
    <li><a id="siguiente" href="#">Siguiente</a></li>
  </ul>
</nav>

<div id="num_pagina">1</div>
<div id="num_pagina_maxima"></div>

<script src="/aplicacion/javascripts/no-framework-controller.js"></script>