.mylist{
    margin: 0px!important;
}

.left-block{
   border-right: 1px solid #CCC!important; 
}

/*A PARTIR DE AQUI, SE CONFIGURAN LAS NOTIFICACIONES CON TRANSICIONES CSS*/

#error-message,#success-message{
 	position: fixed;
	left: 100px;
	right: 100px;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
	border-radius:.5em;
}

#error-message {
	color: #D8000C;
    background-color: #FFBABA;
}

#success-message {
	color: #FFFFFF;
	background-color: #00D819;
}

@keyframes animation-message{
    from {opacity :1;}
    to {opacity :0;}
}

.notificacion {
	animation:animation-message 0.5s 1;
    animation-fill-mode: forwards;
    animation-delay:2s;
}