body {
	padding-top: 60px;
}

.services {
	min-height:330px;
}

.users {
	padding-top:60px;
	min-height:230px;
}

.panel {
	min-width:500px;
}

.panel-body {
	min-height:185px;
}

.input-editar {
	height:25px;
	width:50%;
}

.boton-editar-titulo {
	height:25px;
}

.input-editar-perfil {
	height:25px;
}

.perfil-usuario {
	min-height:37.7778px;
}

.perfil {
	padding-top:60px;
}

/*PARA EL MODAL DE LOGIN*/
.app-modal-window .modal-content {
  width: 402px;
  max-height: 280px;

}


/*A PARTIR DE AQUI, SE CONFIGURAN LAS NOTIFICACIONES CON TRANSICIONES CSS*/

#error-message,#success-message{
 	position: fixed;
	left: 100px;
	right: 100px;
	margin-left: auto;
	margin-right: auto;
	z-index: 999;
}

@keyframes animation-message{
    from {opacity :1;}
    to {opacity :0;}
}

.notificacion {
	animation:animation-message 0.5s 1;
    animation-fill-mode: forwards;
    animation-delay:2s;
}


/*A PARTIR DE AQUI, LOGIN*/

import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body{
  font-family:'Open Sans',sans-serif;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
}

#login h1{
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

#login form{
  background:#f0f0f0;
  padding:6% 4%;
}

#login input[type="text"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

#login input[type="submit"]{
  width:100%;
  background:#3399cc;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
}

#login input[type="submit"]:hover{
  background:#2288bb;
}

#login button{
  width:100%;
  background:#44AD21;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
}

#login button:hover{
  background:#298F07;
}


/*A PARTIR DE AQUI, PAGINA DE REGISTRO*/
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}